*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
}

main{
  height:500px;
  width:70%;
  box-shadow:3px 3px 3px 3px grey;
  margin:auto;
  margin-top:30px;
  position:relative;
  overflow:hidden;
}

.slide{
  height:100%;
  width:100%;
  position:absolute;
}

.nav{
  text-align:center;
  margin-top:20px;
}

.nav button{
  font-size:20px;
  padding:10px;
  border-radius:15px;
  margin-left:10px;
  
}

button:hover{
  background-color:red;
  color:white;
  
}